---
layout: default
---

<header class="bg-gray-dark pb-10 box-shadow">
  <div class="content-lg text-center">
    <h1 class="f1-light h00-mktg text-white">
      {{ page.description | default: site.description }}
    </h1>

    <p class="lead text-gray-light">
      {{ page.long_description | default: site.long_description }}
    </p>
  </div>
</header>

<main class="marketing pb-10">
  <div class="Box border mb-3 box-shadow-large" style="height: 400px; width: 900px; margin: auto; overflow-y: hidden; margin-top: -100px;">
    <img src="/assets/screen.png" width="100%">
  </div>

  <div class="text-center mt-5">
    <ul class="list-style-none f5 flex-auto">
      {% for highlight in site.highlights %}
      <li class="mb-1 pl-4 f4">
        <svg class="mr-1" xmlns="http://www.w3.org/2000/svg" width="14" height="10.4">
          <path d="M1 4.6L5.2 9 13 1" fill="none" stroke="#34D058" stroke-width="2" stroke-linecap="round"></path>
        </svg>
        {{ highlight }}
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="text-center mt-5">
    <a target="_blank" href="{{site.start_url}}" role="button" class="btn btn-primary btn-large">
      Install the free extension
    </a>
  </div>
  <div class="text-center mt-2">
    <a target="_blank" href="{{site.example_url}}">Review an example</a> |
    <a href="{{site.github_url}}">View the GitHub repository</a >
  </div>

  <div class="container mt-10">
    <div class="Subhead">
      <div class="Subhead-heading">Frequent questions</div>
    </div>
    {% for q in site.questions %}
    <div class="mt-4">
      <h4 class="h4-mktg">{{q.q}}</h4>
      <p>{{q.a}}</p>
    </div>
    {% endfor %}
  </div>
</main>
